#root {
}

.Lines {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.Lines-Wrapper {
    flex-grow: 1;
    overflow: auto;
}

.Line {
    word-break: break-word;
}
