@import '~antd/es/style/themes/default.less';
@import '~antd/dist/antd.less';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

#root {
    font-family: 'Roboto', sans-serif;
}

.Auth {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.Auth-Form {
    max-width: 320px;
}

.Stories {
    padding: 16px;
}

.Lines {
    padding: 16px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.Lines-Wrapper {
    flex-grow: 1;
    overflow: auto;
}

.Line {
    word-break: break-word;
    white-space: pre-wrap;
}

.Line-User {
    color: rgb(128, 128, 128);
    font-style: italic;
    font-size: 12px;
}

.Line-Data {
    font-size: 16px;
}
